p Hi Umart44 Team,
p A new vendor has been registered with us. <b><p style="color:red">This Registration yet to be Activated. </p><b>
p <b>Vendor Details<b>:<br> Name : #{vendor_name}, <br> Email : #{vendor_email}, <br> Phone Number : #{vendor_phone}, <br> Country  : #{vendor_country}.
p Best, <br> Umart44 Vendor Portal