p Dear Customer,
p Your Umart44 Verification code is <b>#{id}<b>. <b><p style="color:red">This Verification Code valid for 10 minutes only. </p><b>
p In case you have not tried to verify your web account, please reach out to us at <a href="https://www.e-supermart.com/contact">Contact Us.</a> <br> Looking forward to more opportunities to be of service to you.
p Thank you for your business.
p Sincerely, <br>Umart44 Vendor Portal