p Hi #{vendor_name},
p Thanks for your subscription to the umart44 vendor portal. Your 30-day free trial has successfully activated with umart44. We will glad to answer your questions and provide assistance in case of any required.
p Note : <b> Your 30-day free trail ends on <p style="color:red">#{end_date} </p></b>
p Sincerely yours,<br><b>Umart44 Team</b>