p Hi #{vendor_name},
p Thank you for using the #{plan_type} subscription plan at <a href="https://www.umart44.com">Umart44.com</a>. Your payment against monthly subscription #{price} has been processed successfully.
p You can access your subscription information from <a href="https://www.umart44.com/login">your profile page</a>. If you have any further queries, please <a href="https://www.umart44.com/contact">Contact Us</a>
p Thanks,<br><b>Umart44 Team</b>