p Welcome to Umart44 Vendor Portal <b>#{vendor_name}</b>. <br>Your membership with Umart44 will gain you access to your profile and other catalog resources.
p Here is your new login information <br>Username: #{email} <br>Registration ID: <b>#{id}<b>
p If you have any problems accessing your account, please <a href="https://www.umart44.com/contact">Contact Us.</a>
p You are receiving this email because you have signed up for a Umart44.com account. If you did not sign up for an account at <a href="https://www.umart44.com/register">Umart44</a> you can safely ignore this email.
p Thank you for your business.
p Sincerely, <br>Umart44 Support Team